<mat-card [@sensorState]="sensor.status" (click)="sensor.status='0'">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon *ngIf="sensor.status == '0'">check_circle</mat-icon>
      <mat-icon *ngIf="sensor.status == '1'">{{ mapping[sensor.id].icon }}</mat-icon>
    </div>
    <mat-card-title>
      {{ mapping[sensor.id]?.desc || sensor.id }}
    </mat-card-title>
    <mat-card-subtitle>
      <label for="">Last Tripped {{ sensor.lastUpdated | date:'short' }}</label>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="sensor.status == '1'">Tripped</div>
    <div *ngIf="sensor.status == '0'">Idle</div>
    <mat-icon *ngIf="sensor.status == '1'">{{ mapping[sensor.id].icon }}</mat-icon>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button mat-button color="secondary" [routerLink]="['.', sensor.id]">
      History
    </button>
  </mat-card-actions>
</mat-card>
